:root {
    --white: #fff;
    --gray-100: #edf2f7;
    --gray-200: #e2e8f0;
    --gray-400: #a0aec0;
    --gray-500: #718096;
    --gray-700: #2d3748;
    --primary: #4763ff;
    --primary-light: #7086ff;
    --primary-dark: #1834cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 16px;
    font-family: 'Sora', Helvetica, sans-serif;
}

body {
    background-color: var(--white);
    color: var(--gray-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  

#messages{
    background-color: var(--gray-200);
    padding: 20px;
    width: 100%;
    height: 730px;
    border-radius: 10px;
    margin-top: 5px;
}

#form1{
    display: flex;
    width: 100%;
    margin-top: 2px;
    margin-left: 35px;
    
}

#user{
    width: 170px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.btnNome{
    background-color: var(--primary-light);
    width: 60px;
    height: 30px;
    outline: none;
    border: none;
    transition: 0.2s ease-in;
    border-radius: 7px;
    font-size: 15px;
}

.btnNome:hover{
    background-color: var(--primary-dark);
    cursor: pointer;
}

#form2{
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 702px;
    margin-left: 24px;
    width: 96%;
    display: flex;
    justify-content: space-between;
}

#message{
    width: 170px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.messages{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    line-height: 14px;
    width: 250px;
    background-color: #38455a;
    border-radius: 10px;
    text-align: start;
    color: #000;
    padding: 5px;
}

.messages::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 12px solid #38455a;
    border-left: 6px solid transparent;
    border-top: 6px solid #38455a;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -15px;
}

.namemessages{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: start;
    margin-bottom: 15px;
    color: #fff;
}

.messageinline{
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
}